<!-- -*- mode: XML -*- -->
<!-- run velodyne_height_map/HeightMapNodelet in a nodelet manager

     $Id: heightmap_nodelet.launch 2088 2012-02-23 15:49:14Z jack.oquin $
  -->

<launch>
  <node pkg="nodelet" type="nodelet" name="heightmap_nodelet"
        args="load velodyne_height_map/HeightMapNodelet velodyne_nodelet_manager"/>
</launch>
